@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@plugin "daisyui" {
  themes: none --default;
}

/* Navigation-progress-bar */
#nprogress .bar {
  background: rgb(8, 8, 8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 9999;
}

#nprogress .peg {
  box-shadow:
    0 0 10px rgb(3, 3, 3),
    0 0 5px rgb(5, 5, 5);
}

#nprogress .spinner {
  display: none;
}

/* ANIMATION */
@keyframes GradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-shift-animation {
  background-image: linear-gradient(270deg, #a855f7, #ec4899, #facc15, #38bdf8, #a855f7);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: GradientShift 20s ease-in-out infinite;
}
